<% @hackers.each do |hacker| %>
	<% gravatar_exists = hacker.gravatar_email != nil && hacker.gravatar_email != "" %>
	<% email = gravatar_exists ? hacker.gravatar_email : hacker.email %>

	<% gravatar_hash = Digest::MD5.hexdigest email.strip %>
	<% check_url = 'https://www.gravatar.com/avatar/'+ gravatar_hash + '?s=200&d=404' %>
		
	<% begin %>
		<% open(check_url) %>
		<% gravatar_url = check_url %>
	<% rescue OpenURI::HTTPError => e %>
  	<% if e.message == '404 Not Found' %>
  		<% gravatar_url = 'person-icon.png' %>
  	<% end %>
  <% end %>
	<div class="col-sm-4 text-center">

		<div>
			<%= image_tag(gravatar_url, class: 'small-avatar') %>
		</div>	
		<div class="small-name">
			<%= hacker.first_name %> <%= hacker.last_name %>
		</div>
		<div class="space"></div>
	</div>
<% end %>	