<% @mentors.each do |mentor| %>
	<% profile_url = "/" + mentor.id.to_s %>
	<% gravatar_exists = mentor.gravatar_email != nil && mentor.gravatar_email != "" %>
	<% email = gravatar_exists ? mentor.gravatar_email : mentor.email %>

	<% gravatar_hash = Digest::MD5.hexdigest email.strip %>
	<% check_url = 'https://www.gravatar.com/avatar/'+ gravatar_hash + '?s=200&d=404' %>
		
	<% begin %>
		<% open(check_url) %>
		<% gravatar_url = check_url %>
	<% rescue OpenURI::HTTPError => e %>
  	<% if e.message == '404 Not Found' %>
  		<% gravatar_url = 'person-icon.png' %>
  	<% end %>
  <% end %>
	<div class="col-sm-4 text-center">
		<div>
			<%= link_to('', profile_url, class: 'dark-hover') %>
			<%= image_tag(gravatar_url, class: 'small-avatar') %>
		</div>	
		<div class="small-name">
			<%= mentor.first_name %> <%= mentor.last_name %>
		</div>
		<div class="space"></div>
	</div>
<% end %>	