<% @title="Participants" %>
<div class="participants">
	<div class="container text-center">
		<div class="page-top-space"></div>
		<div class="title-text">Hackers</div>
		<div class="row skinny flex-override">
			<%= render 'hackers' %>
		</div>
		<div class="title-text">Mentors</div>
		<div class="row skinny flex-override">
			<%= render 'mentors' %>
		</div>
	</div>
</div>