<div class="container text-center">
<div class="space"></div>
  <div class="col-sm-6 col-sm-offset-3 card">
		<div class="title-text">Forgot your password?</div>

		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		  <%= devise_error_messages! %>

		  <div class="field center-style">
		    <label>Email</label><br />
		    <%= f.email_field :email, autofocus: true %>
		  </div>

		  <div class="actions form-submit">
		    <%= f.submit "Send me instructions" %>
		  </div>
		<% end %>
	</div>
</div>		
