<div class="row">
	<div class="col-xs-3 vertical-align-center">
		<%= image_tag "plug.svg", class: "graphic mobile", id: "plug" %>
	</div>
	<div class="col-xs-8">
		<h2> Connect With </h2>
		<h1> Cal Alumni. </h1>
	</div>
</div>
<div class="row no-margin">	
	<div class="col-xs-12">
		<div class="line-gradient"></div>
		<p>
			UC Berkeley Alumni will serve as the guiding third party <b>mentors</b> who will give unbiased thoughts and suggestions about improvements to certain solutions. For the alumni who can be a full mentor for Innovate Berkeley, our teams will host <b>weekly phone meetings</b> with them as they tackle their prompts. During the innovation hackathon event, there will be a variety of times for which a mentor can sign up to <b>host workshops.</b>
		</p>	
	</div>
</div>