<div class="faq" id="faq">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>FAQ.</h1>
			</div>
			<div class="faq-wrapper">
				<div class="row skinny">
					<div class="col-xs-1">
						<%= image_tag "bullet.svg", class: "bullet" %>
					</div>
					<div class="col-xs-11 text">
						<p>When and where does the event take place?</p>
					</div>
					<div class="col-xs-1">
						<%= image_tag "bullet.svg", class: "bullet" %>
					</div>
					<div class="col-xs-11 text">
						<p>What do you look for in an innovator?</p>
					</div>
					<div class="col-xs-1">
						<%= image_tag "bullet.svg", class: "bullet" %>
					</div>
					<div class="col-xs-11 text">
						<p>How does the application process work?</p>
					</div>
				</div>
			</div>
			<div class="skinny">
				When and where does the event take place?
			</div>
		</div>
	</div>
</div>