<div class="faq" id="faq">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>FAQ.</h1>
			</div>
			<div class="col-xs-12 faq-wrapper">
				<div class="row skinny">
					<div class="col-xs-1 col-xs-offset-1">
						<%= image_tag "bullet.svg", class: "bullet" %>
					</div>
					<div class="col-xs-10 text">
						<a href="#faq-1"><mark>When does Innovate Berkeley 2018 begin?</mark></a>
					</div>
				</div>
				<div class="row skinny">
					<div class="col-xs-1 col-xs-offset-1">
						<%= image_tag "bullet.svg", class: "bullet" %>
					</div>
					<div class="col-xs-10 text">
						<a href="#faq-2"><mark>What can I do in the meantime?</mark></a>
					</div>
				</div>
				<div class="row skinny">
					<div class="col-xs-1 col-xs-offset-1">
						<%= image_tag "bullet.svg", class: "bullet" %>
					</div>
					<div class="col-xs-10 text">
						<a href="#faq-3"><mark>What is the speaker series?</mark></a>
					</div>
				</div>
			</div>
		</div>
		<div class="target-div" id="faq-1"></div>
		<div class="row skinny">
			<div class="col-sm-6 col-xs-12 question-title">
				When does Innovate Berkeley 2018 begin?
				<div class="faq-line line-yellow"></div>
			</div>
		</div>
		<div class="row skinny">
			<div class="col-xs-12">
			<p> The application period will kick-off in late August/early September, and the weekend series is scheduled to take place over 2-3 weeks in September/October. Innovate Berkeley 2018 will conclude with the innovation/design hackathon beginning on October 19th, 2018 and ending the next day on October 20th, 2018.</p>
			</div>
		</div>
		<div class="target-div" id="faq-2"></div>
		<div class="row skinny">	
			<div class="col-sm-5 col-xs-12 question-title">
				What can I do in the meantime?				
				<div class="faq-line line-yellow"></div>
			</div>
		</div>
		<div class="row skinny">
			<div class="col-xs-12">
			<p> Throughout the year, Innovate Berkeley will be hosting workshops for students to gain design thinking and tangible skills before the summit in addition to a speaker series, which is a great opportunity to hear from innovators at Cal and in industry! Come out to these events, starting looking for teammates, and be thinking about ways to address areas of improvement at Berkeley!</p>
			</div>
		</div>
		<div class="target-div"  id="faq-3"></div>
		<div class="row skinny">
			<div class="col-sm-5 col-xs-12 question-title">
				What is the speaker series?
				<div class="faq-line line-yellow"></div>
			</div>
		</div>
		<div class="row skinny">
			<div class="col-xs-12">
			<p> Innovate Berkeley’s Speaker Series brings industry leaders on to our campus to share their journey, teach, and inspire. Speakers will be sharing how they have utilized either business, technology, or design in their careers in addition to giving insight for using these skills to improve the Berkeley Community.</p>
			<!-- </br>
			<p> Once all the prompts are locked in with all innovators correctly placed in teams, there will be a three week preparation period in which the teams will be meeting university staff in the theme in which their prompt fell under.</p> -->
			</div>
		</div>
	</div>
</div>