<div class="faq" id="faq">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>FAQ.</h1>
			</div>
			<div class="col-xs-12 faq-wrapper">
				<div class="row skinny">
					<div class="col-xs-1 col-xs-offset-1">
						<%= image_tag "bullet.svg", class: "bullet" %>
					</div>
					<div class="col-xs-10 text">
						<a href="#faq-1"><mark>When and where does the event take place?</mark></a>
					</div>
				</div>
				<div class="row skinny">
					<div class="col-xs-1 col-xs-offset-1">
						<%= image_tag "bullet.svg", class: "bullet" %>
					</div>
					<div class="col-xs-10 text">
						<a href="#faq-2"><mark>What do you look for in an innovator?</mark></a>
					</div>
				</div>
				<div class="row skinny">
					<div class="col-xs-1 col-xs-offset-1">
						<%= image_tag "bullet.svg", class: "bullet" %>
					</div>
					<div class="col-xs-10 text">
						<a href="#faq-3"><mark>How does the application process work?</mark></a>
					</div>
				</div>
			</div>
		</div>
		<div class="target-div" id="faq-1"></div>
		<div class="row skinny">
			<div class="col-sm-6 col-xs-12 question-title">
				When and where does the event take place?
				<div class="faq-line line-yellow"></div>
			</div>
		</div>
		<div class="row skinny">
			<div class="col-xs-12">
			<p> The innovation/design hackathon begins on October 20, 2017 and ends two days later on October 22, 2017.</p>
			</div>
		</div>
		<div class="target-div" id="faq-2"></div>
		<div class="row skinny">	
			<div class="col-sm-5 col-xs-12 question-title">
				What do you look for in an innovator?				
				<div class="faq-line line-yellow"></div>
			</div>
		</div>
		<div class="row skinny">
			<div class="col-xs-12">
			<p> UC Berkeley students, both undergraduate and graduate, will be highly encouraged to apply to be a part of the Innovate Berkeley team. As an innovator, we expect a selfless drive to serve the university community. More importantly, we expect innovators to understand the tireless work our campus administration, faculty, and staff have put in to ensure that students are getting the best education they can from UC Berkeley. Depending on which theme the innovator chooses to tackle, the innovator will be introduced to the current faculty and staff who are working on behalf of the university to address it.</p>
			</div>
		</div>
		<div class="target-div"  id="faq-3"></div>
		<div class="row skinny">
			<div class="col-sm-5 col-xs-12 question-title">
				How does the application process work?
				<div class="faq-line line-yellow"></div>
			</div>
		</div>
		<div class="row skinny">
			<div class="col-xs-12">
			<p> Students will submit specific prompts they would like to build solutions for that fit under the four themes listed above. Once a prompt is submitted, it is "locked in," meaning that for all other students who might have had similar thoughts about what they would like to work on, they will be placed in the same team. Predetermined teams who want to apply together are encouraged to do so! Although we can't guarantee that all members will be selected, we expect these teams to be open to additional innovators joining them.</p>
			</br>
			<p> Once all the prompts are locked in with all innovators correctly placed in teams, there will be a three week preparation period in which the teams will be meeting university staff in the theme in which their prompt fell under.</p>
			</div>
		</div>
	</div>
</div>