<div class="row flex-override">
	<div class="col-xs-8 valign-center about-impact right">
		<h2> Students With </h2>
		<h1> <mark>Impact.</mark> </h1>
		<div class="line-black"></div>
		<p>
			Think about all the student organizations that were founded by students, all the DeCals taught by students, all the university courses administered by students. Our administration, now in the hands of Chancellor Christ, wants <b>students to be at the forefront of change.</b> Innovate Berkeley is the chance for students to work side by side with administrative staff, faculty, and alumni to <b>build a better Berkeley.</b>
		</p>	
	</div>
	<div class="col-xs-4 vertical-align-center valign-center">
		<%= image_tag "dot-head.svg", class: "graphic web" %>
	</div>
</div>