<% @members.each do |member| %>
	<% id = member.id %>
	<% gravatar_exists = member.gravatar_email != nil && member.gravatar_email != "" %>
	<% email = gravatar_exists ? member.gravatar_email : member.email %>

	<% gravatar_hash = Digest::MD5.hexdigest email.strip %>
	<% check_url = 'https://www.gravatar.com/avatar/'+ gravatar_hash + '?s=200&d=404' %>
		
	<% begin %>
		<% open(check_url) %>
		<% gravatar_url = check_url %>
	<% rescue OpenURI::HTTPError => e %>
  	<% if e.message == '404 Not Found' %>
  		<% gravatar_url = 'person-icon.png' %>
  	<% end %>
  <% end %>
	<div class="col-sm-4 text-center">
		<div>
			<%= link_to('/:id', class: 'dark-hover') %>
			<%= image_tag(gravatar_url, class: 'small-avatar') %>
		</div>	
		<div class="small-name">
			<%= member.first_name %> <%= member.last_name %>
		</div>
		<div class="space"></div>
	</div>
<% end %>	