<div class="schedule" id="schedule">
	<div class="container">
		<div class="row">
			<div class="col-xs-2 col-sm-1">
				<h1 class="schedule-title">
					Schedule.
				</h1>
			</div>
			<div class="col-xs-1 divider">
			</div>
			<div class="col-xs-9 col-sm-10">
				<div class="row skinny">
					<div class="col-xs-6 title mobile-title">
						Late August
					</div>
					<div class="col-xs-6 description mobile-description">
						Applications begin to be reviewed.
					</div>
				</div>
				<div class="row skinny">
					<div class="col-xs-6 title mobile-title">
						Early September
					</div>
					<div class="col-xs-6 description mobile-description">
						Selected innovators are released.
					</div>
				</div>
				<div class="row skinny">
					<div class="col-xs-6 title mobile-title">
						October 20
					</div>
					<div class="col-xs-6 description mobile-description">
						The Innovate Berkeley Event begins.
					</div>
				</div>
				<div class="row skinny">
					<div class="col-xs-6 title mobile-title">
						October 22
					</div>
					<div class="col-xs-6 description mobile-description">
						The Innovate Berkeley Event ends.
					</div>
				</div>
			</div>
		</div>
	</div>
</div>