<div class="schedule" id="schedule">
	<div class="container">
		<div class="row grey">
			<div class="col-xs-2 col-sm-1">
				<h1 class="schedule-title">
					Schedule.
				</h1>
			</div>
			<div class="col-xs-1 divider">
			</div>
			<div class="col-xs-9 col-sm-10">
				<div class="row skinny">
					<div class="col-xs-6 title">
						February 21
					</div>
					<div class="col-xs-6 description">
						Protoyping Workshop at SCET.
					</div>
				</div>
				<div class="row skinny">
					<div class="col-xs-6 title">
						TBA
					</div>
					<div class="col-xs-6 description">
						Innovate Berkeley Speaker Series
					</div>
				</div>
				<div class="row skinny">
					<div class="col-xs-6 title">
						September 22 - 29
					</div>
					<div class="col-xs-6 description">
						Weekend Series.
					</div>
				</div>
				<div class="row skinny">
					<div class="col-xs-6 title">
						October 13
					</div>
					<div class="col-xs-6 description">
						Weekend Series.
					</div>
				</div>
				<div class="row skinny">
					<div class="col-xs-6 title">
						October 19 - 20
					</div>
					<div class="col-xs-6 description">
						Innovation Summit.
					</div>
				</div>
			</div>
		</div>
	</div>
</div>