<div class="schedule" id="schedule">
	<div class="container">
		<div class="row grey">
			<div class="col-xs-2 col-sm-1">
				<h1 class="schedule-title">
					Schedule.
				</h1>
			</div>
			<div class="col-xs-1 divider">
			</div>
			<div class="col-xs-9 col-sm-10">
				<div class="row skinny">
					<div class="col-xs-6 title">
						September 23
					</div>
					<div class="col-xs-6 description">
						Applications begin to be reviewed.
					</div>
				</div>
				<div class="row skinny">
					<div class="col-xs-6 title">
						Week of September 25
					</div>
					<div class="col-xs-6 description">
						Selected innovators are released.
					</div>
				</div>
				<div class="row skinny">
					<div class="col-xs-6 title">
						October 15 and 22
					</div>
					<div class="col-xs-6 description">
						Weekend Series.
					</div>
				</div>
				<div class="row skinny">
					<div class="col-xs-6 title">
						October 27 - 28
					</div>
					<div class="col-xs-6 description">
						Summit: Innovate Berkeley event starts at 6pm and ends at 8pm the next day.
					</div>
				</div>
			</div>
		</div>
	</div>
</div>