<div class="row flex-override">
	<div class="col-xs-12 col-sm-8 valign-center about-impact right">
		<h2> Innovate Berkeley </h2>
		<h1> <mark>Core Team</mark> </h1>
		<div class="line-black"></div>
		<p>
			Innovate Berkeley was founded by a team of students who were determined to make an impact at UC Berkeley. We, the Core Team, understand that true change is incremental and that it’s built on the hard work and dedication of those who were in our places before us. We strive to be smart creatives who seek value from passion. We see an innovative university that is created by us, the students, so let’s create it together.
		</p>	
	</div>
	<div class="col-sm-4 vertical-align-center valign-center">
		<form action="/team">
		    <input class="team-button" type="submit" value="Meet the Team" />
		</form>
	</div>
</div>
