<% @title="Welcome" %>

<div class="container text-center">
	<div class="login-space"></div>
	<h2>Welcome!</h2>
	<div class="space"></div>
	<p>Thanks for signing up.</p>

	<p>Please check your email now to confirm your new account.</p>
</div>