<div class="main">
	<div class="container">
		<div class="boxes">
			<div class="box-1"></div>
			<div class="box-2"></div>
			<div class="box-3"></div>
			<div class="box-4"></div>
			<div class="box-5"></div>
			<div class="box-6"></div>
			<div class="box-7"></div>
			<div class="box-8"></div>
			<div class="box-9"></div>
			<div class="box-10"></div>
		</div>	
		<div class="logo-wrapper">
			<%= image_tag "text-grey.svg", class: "logo-text" %>
		</div>
		<div class="main-text">
			<mark>October 19 – 20</mark><br>
			<mark>Coming Soon</mark>
		</div>
		<div class="apply-button">
			<a href="https://www.facebook.com/innovateberkeley/" target="_blank">FOLLOW US</a>
		</div>
	</div>
</div>