<% @title="Meet the Team" %>
<div class="participants">
	<div class="container text-center">
		<div class="page-top-space"></div>
		<div class="title-text">Team Members</div>
		<div class="row skinny flex-override">
			<%= render 'members' %>
		</div>
	</div>
</div>