<div class="row-first flex-override">
	<div class="col-xs-4 vertical-align-center valign-center">
		<%= image_tag "rocket-outer.svg", class: "graphic rocket web", id: "rocket" %>
		<%= image_tag "rocket-inner.svg", class: "graphic web", id: "rocket-inner" %>
	</div>
	<div class="col-xs-8 about-impact valign-center">
		<h2> An Event for </h2>
		<h1 id="typed-progress"><mark> Progress.</mark></h1>
		<div class="line-black"></div>
		<p>
			Innovate Berkeley is the culmination of the combined efforts from UC Berkeley’s administration, faculty, staff, students, and alumni. Innovate Berkeley is much larger than the single event. It’s the <b>selfless, innovative energy</b> that has continuously propelled this university forward as a leading institution for higher education. Innovate Berkeley compresses that energy into an innovation hackathon-like event, with the goal of <b>creating tangible technological and non-technological solutions to mitigate problems on campus</b> that assist our peers, faculty and administration face.
		</p>	
	</div>
</div>