<div class="sponsors" id="sponsors">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 sponsors">
				<h1>Proudly Sponsored By.</h1>
				<div class="collection">
					<%= image_tag "scet.jpg", class: "logos" %>
					<%= image_tag "logo-balsamiq.png", class: "logos" %>
				</div>
			</div>
			<!-- <div class="filler"></div> -->
		</div>
	</div>		
</div>