// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$ib-mint: #17ead9;
$ib-blue: #6078ea;
$ib-navy: #252b5f;
$ib-black: #292929;
$ib-gold: #ffd967;

@font-face {
	font-family: 'Product Sans';
	src:font-url('product-sans.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Grotesk Light';
	src:font-url('HKGrotesk-Light.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Grotesk';
	src:font-url('HKGrotesk-Regular.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Grotesk Bold';
	src:font-url('HKGrotesk-Bold.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Product Sans Bold';
	src:font-url('product-sans-bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Grotesk Medium';
	src:font-url('HKGrotesk-Medium.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@keyframes dash {
  75% {
    stroke-dashoffset: 2000;
  }
  100% {
  	stroke-dashoffset: 2000;
  }
}

@keyframes appear {
	0% {
		opacity: 0;
	}
	75% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes unpack-1 {
	0% {
  		transform: rotate(90deg);
  		transform-origin: 0% 100%;
  	}
  	10% {
  		transform: rotate(0deg);
  		transform-origin: 0% 100%;
  	}
  	20% {
  		transform: rotate(0deg);
  		transform-origin: 0% 100%;
  	}
  	30% {
  		transform: rotate(0deg);
  		transform-origin: 0% 100%;
  	}
  	40% {
  		transform: rotate(0deg);
  		transform-origin: 0% 100%;
  	}
  	50% {
  		transform: rotate(0deg);
  		transform-origin: 0% 100%;
  	}
  	60% {
  		transform: rotate(0deg);
  		transform-origin: 0% 100%;
  	}
  	70% {
  		transform: rotate(0deg);
  		transform-origin: 0% 100%;
  	}
  	80% {
  		transform: rotate(0deg);
  		transform-origin: 0% 100%;
  	}
  	90% {
  		transform: rotate(90deg);
  		transform-origin: 0% 100%;
  	}
  	100% {
  		transform: rotate(90deg);
  		transform-origin: 0% 100%;
  	}
}

@keyframes unpack-2 {
	0% {
  		transform: rotate(60deg);
  		transform-origin: -78.2% 100%;
  	}
  	10% {
  		transform: rotate(60deg);
  		transform-origin: 0% 77.7%;
  	}
  	20% {
  		transform: rotate(60deg);
  		transform-origin: 0% 77.7%;
  	}
  	30% {
  		transform: rotate(0deg);
  		transform-origin: 0% 77.7%;
  	}
  	40% {
  		transform: rotate(0deg);
  		transform-origin: 0% 77.7%;
  	}
  	50% {
  		transform: rotate(0deg);
  		transform-origin: 0% 77.7%;
  	}
  	60% {
  		transform: rotate(0deg);
  		transform-origin: 0% 77.7%;
  	}
  	70% {
  		transform: rotate(60deg);
  		transform-origin: 0% 77.7%;
  	}
  	80% {
  		transform: rotate(60deg);
  		transform-origin: 0% 77.7%;
  	}
  	90% {
  		transform: rotate(60deg);
  		transform-origin: -78.2% 100%;
  	}
  	100% {
  		transform: rotate(60deg);
  		transform-origin: -78.2% 100%;
  	}
}

@keyframes unpack-3 {
	0% {
  		transform: rotate(-180deg);
  		transform-origin: 37% 100%;
  	}
  	10% {
  		transform: rotate(-180deg);
  		transform-origin: 37% 100%;
  	}
  	20% {
  		transform: rotate(0deg);
  		transform-origin: 37% 100%;
  	}
  	30% {
  		transform: rotate(0deg);
  		transform-origin: 37% 85%;
  	}
  	40% {
  		transform: rotate(0deg);
  		transform-origin: 37% 85%;
  	}
  	50% {
  		transform: rotate(0deg);
  		transform-origin: 37% 85%;
  	}
  	60% {
  		transform: rotate(0deg);
  		transform-origin: 37% 100%;
  	}
  	70% {
  		transform: rotate(0deg);
  		transform-origin: 37% 100%;
  	}
  	80% {
  		transform: rotate(-180deg);
  		transform-origin: 37% 100%;
  	}
  	90% {
  		transform: rotate(-180deg);
  		transform-origin: 37% 100%;
  	}
  	100% {
  		transform: rotate(-180deg);
  		transform-origin: 37% 100%;
  	}
}

.flex-override {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;

	.vertical-align-center {
		display: -ms-flex;
		display: -webkit-flex;
		display: flex;

		.valign-center {
			align-self: center;
		}
	}
}

.main {
	height: 100vh;
	background-image: url('icon-white-rotated.svg');
	background-size: auto 100vh;
	background-position: center;
	background-repeat: no-repeat;

	.logo-wrapper {
		width: 100%;
		margin: 120px 0 50px 0;
		text-align: right;
		position: relative;
		z-index: 100;

		.logo-text {
			max-width: 500px;
		}
	}

	.main-text {
		font-family: 'Product Sans';
		color: white;
		font-size: 30px;
		line-height: 1.5;
		text-align: right;
		position: relative;
		z-index: 100;
	}

	.apply-button a {
		margin-top: 50px;
		color: white;
		background-color: $ib-gold;
		font-size: 42px;
		font-family: 'Grotesk Bold';
		padding: 20px 40px;
		border-radius: 10px;
		float: right;
		letter-spacing: 3px;
		position: relative;
		z-index: 100;

		&:hover {
			text-decoration: none;
			color: $ib-black;
			cursor: pointer;
		}
	}

	.box {
		height: 10px;
		width: 100px;
		float: left;
		z-index: 1;
		position: relative;
	}

	.box-1 {
		@extend .box;
		background: linear-gradient(-90deg, $ib-blue, $ib-mint);
		top: 50vh;
		left: 0vw;
	}

	.box-2 {
		@extend .box;
		background: linear-gradient(-90deg, $ib-blue, $ib-navy);
		top: 70vh;
		left: 30vw;
	}

	.box-3 {
		@extend .box;
		background: linear-gradient(-90deg, $ib-gold, $ib-mint);
		top: 40vh;
		left: 70vw;
	}

	.box-4 {
		@extend .box;
		background: linear-gradient(-90deg, $ib-blue, lightpink);
		top: 10vh;
		left: 20vw;
	}

	.box-5 {
		@extend .box;
		background: linear-gradient(-90deg, lightpink, $ib-gold);
		top: 80vh;
		left: 10vw;
	}
}

.about {
	padding-top: 50px;

	.right {
		text-align: right;
	}

	.valign-center {
		align-self: center;
	}

	.no-margin {
		margin-top: 0;
	}

	.about-impact > h1 > mark {
		background: -webkit-linear-gradient(45deg, $ib-mint, $ib-blue);
  		-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;
  		padding: 0;
	}

	.grey {
		background-color: whitesmoke;
	}

	.themes {
		transform: rotate(-90deg);
		position: relative;
		top: 55px;
		color: $ib-gold;
		font-size: 70px;
	}

	.number {
		font-size: 60px;
		color: $ib-navy;
		font-family: 'Product Sans Bold';
		text-align: center;
		align-self: center;
		background-color: papayawhip;
	}

	.skinny {
		margin: 35px 0;
	}

	.skinny2 {
		margin: 30px 0;
	}

	.graphic {
		width: 100%;
		max-height: 300px;
		position: relative;
		z-index: -1;
	}

	.rocket {
		position: absolute;
		padding-right: 30px;
	}

	.web {
		height: 300px;
	}

	.mobile {
		height: 90px;
	}

	.nodes-1 {
		animation: unpack-1 10s 5s ease infinite;
	}

	.nodes-2 {
		animation: unpack-2 10s 5s ease infinite;
	}

	.nodes-3 {
		animation: unpack-3 10s 5s ease infinite;
	}	

	.plug-head {
		animation: appear 3s ease infinite;
	}

	.plug-animation {
		animation: dash 3s linear infinite;
	}
}

.schedule {
	padding-top: 20px;

	.grey {
		padding-top: 20px;
		background-color: whitesmoke;
	}

	.schedule-title {
		transform: rotate(-90deg);
		position: relative;
		top: 170px;
	}

	.divider {
		height: 275px;
		width: 8px;
		padding: 0px;
		text-align: center;
		background: linear-gradient(0deg, $ib-blue, $ib-mint);
	}

	.title {
		font-family: 'Product Sans';
		font-size: 36px;
		color: $ib-gold;
		line-height: 1.25;
		padding-left: 30px;
	}

	.description {
		font-size: 28px;
		font-family: 'Grotesk';
		line-height: 1.25;
	}

	.skinny {
		margin-bottom: 30px;
		margin-top: 0px;
	}

	.mobile-title {
		font-size: 24px;
	}

	.mobile-description {
		font-size: 18px;
	}
}

.faq {
	padding-top: 30px;

	.faq-wrapper {
		margin: 30px 0;
	}

	.bullet {
		height: 15px;
	}

	.skinny {
		margin-top: 0px;
		padding-top: 5px;
	}

	.target-div {
		height: 10px;
	}

	.text {
		font-family: 'Grotesk Medium';

		> a {
			&:hover {
				text-decoration: none;
			}

			&:focus {
				text-decoration: none;
			}

			> mark {
				padding: 0 .2em;
				background-color: white;
				color: $ib-navy;
				font-size: 20px;
			
				&:hover {
					background-color: papayawhip;
					cursor: pointer;
				}
			}
		}
	}

	.question-title {
		font-family: 'Product Sans Bold';
		font-size: 24px;
		margin-top: 70px;
	}
}

.sponsors {
	padding-top: 30px;

	.filler {
		height: 700px;
	}
}

.line {
	height: 3px;
	width: 100%;
	margin: 20px 0;
}
	
.line-gradient {
	@extend .line;
	background: linear-gradient(-90deg, $ib-blue, $ib-mint);
}

.line-yellow {
	@extend .line;
	background-color: $ib-gold;
}

.line-yellow-short {
	@extend .line-yellow;
	width: 300px;
}

.line-black {
	@extend .line;
	background-color: $ib-black;
}

.line-navy {
	@extend .line;
	background-color: $ib-navy;
}

.faq-line {
	margin: 10px 0;
}

.space {
	height: 100px;
}

.login-space {
	height: 25vh;
	min-height: 100px;
}
